<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
		.col1 {
		  width: 10%;
		}
		
		.col2 {
		  width: 40%;
	  }
	  
	  		.col3 {
		  width: 30%;
	  }
	  
	  		.col4 {
		  width: 10%;
	  }
	  
	  .col5 {
		  width: 10%;
	  }
	
</style>
    
	<title>Baza produktów</title>
</h:head>
<h:body>
	<div class="container-ld p-3">
		<h:form>
			<p>Witaj, dzielny #{loginbean.user.name} ;) - - - <h:commandLink action="#{logoutbean.logout}" value="Logout" /></p>
			<h:dataTable value="#{produktbean.produktList}" var="produkt" rowIndexVar="row"
				cellspacing="1" cellpadding="1" class="table-sm table-hover table-responsive-sm" columnClasses="col1, col2, col3, col4, col5">
				<h:column style="width: 10px">
					<f:facet name="header">#</f:facet>
	                    <h:outputText value="#{produktbean.produktList.indexOf(produkt) + 1}"/>
	            </h:column>
				<h:column style="width: 40%">
					<f:facet name="header"><h:commandLink action="#{produktbean.orderByAction('NAZWA')}" value="Nazwa" /></f:facet>
	                    <h:inputText value="#{produkt.nazwa}" size="10" rendered="#{produkt.editable}" />
	    				<h:outputText value="#{produkt.nazwa}" rendered="#{not produkt.editable}" />
	                </h:column>
				<h:column style="width: 30%">
					<f:facet name="header"><h:commandLink action="#{produktbean.orderByAction('CENA')}" value="Cena" /></f:facet>
	                    <h:inputText value="#{produkt.cenaForView}" size="10" rendered="#{produkt.editable}"><f:convertNumber pattern="#0.00" /></h:inputText>
	    				<h:outputText value="#{produkt.cenaForView}" rendered="#{not produkt.editable}"><f:convertNumber pattern="#0.00" /></h:outputText>
	                </h:column>
	                <h:column style="width: 15%">
					<f:facet name="header">Zmień</f:facet>
	                <h:commandButton action="#{produktbean.editAction(produkt)}" 
	                                       rendered="#{not produkt.editable}" 
	                                       value="@" class="btn btn-success p-2" />
					</h:column>
					<h:column style="width: 15%">
					<f:facet name="header">Usuń</f:facet>
	                <h:commandButton action="#{produktbean.deleteAction(produkt)}" 
					value="X" class="btn btn-danger p-2" />
					</h:column>
					
	
			</h:dataTable>
				<h:commandButton value="Dodaj nowy" action="#{produktbean.addAction}" class="btn btn-info col-2 m-4" />
	    		<h:commandButton value="Zapisz zmiany" action="#{produktbean.saveAction}" class="btn btn-info col-2 m-4" />
	    		
			
		</h:form>
	</div>
</h:body>
</html>