<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Brak uprawnień</title>
</h:head>
<h:body>
	<div class="container-md p-3">
		<h3>Twoje uprawnienia nie są wystarczające</h3>
		<br></br><br></br>
		<h:link value = "Zaloguj się na stronie głównej" outcome = "/login.xhtml" />
	</div>
</h:body>
</html>