<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
	
	<title>Logowanie</title>
</h:head>
<h:body>
	<div class="container-md p-3">
		<h:form>
			<h3 class="py-2 mb-4">Logowanie do bazy produktów</h3>
			<h:outputText value="Użytkownik" />
			<h:inputText id="user" value="#{loginbean.user.name}" label="user" 
				class="form-control no-4 col-4" placeholder="imię"/>
			<h:message for="user" />
			<br /><br />
			
			<h:outputText value="Hasło" />
			<h:inputSecret id="pwd" value="#{loginbean.user.pass}" label="pwd" 
				class="form-control no-4 col-4" placeholder="hasło" />
			<h:message for="pwd" />
			<br /><br />
			
			<h:commandButton action="#{loginbean.validateUsernamePassword}" 
				value="Login" class="btn btn-info col-2" />
		</h:form>
	</div>
</h:body>
</html>